/* Estilo general */
/* Fondo personalizado para el index */
body {
    background-image: url('./IMAGENES/fondopokemon.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel-container {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    position: relative;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel .card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backface-visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: box-shadow 0.3s;
}

.carousel .card:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
}

.card1 {
    background-image: url('IMAGENES/TarjetaAshKetcum.jpg');
    transform: rotateY(0deg) translateZ(300px);
}

.card2 {
    background-image: url('IMAGENES/TarjetaLisandroBerdugo.jpg');
    transform: rotateY(72deg) translateZ(300px);
}

.card3 {
    background-image: url('IMAGENES/TarjetaBrock.jpg');
    transform: rotateY(144deg) translateZ(300px);
}

.card4 {
    background-image: url('IMAGENES/TarjetaGary.jpg');
    transform: rotateY(216deg) translateZ(300px);
}

.card5 {
    background-image: url('IMAGENES/TarjetaTeam.jpg');
    transform: rotateY(288deg) translateZ(300px);
}

.controls {
    position: absolute;
    bottom: -125px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.controls button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.control-borrar {
    position: absolute;
    bottom: -180px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estilo personalizado para SweetAlert sin barra de desplazamiento */
.no-scroll-swal {
    overflow: hidden; /* Eliminar la barra de desplazamiento */
    max-height: 100vh; /* Evitar que el contenido sobrepase la altura */
    box-sizing: border-box; /* Para asegurarse de que el padding no cause scroll */
}

.no-scroll-swal .swal2-html-container {
    overflow: hidden !important; /* Asegurarse de que el contenedor interno tampoco muestre scroll */
    padding: 10px 0 !important; /* Ajustar el padding para evitar exceso de espacio */
}

/* Animación de la pokebola temblando con inclinación */
.pokebola-animada {
    width: 100px; /* Tamaño de la pokebola */
    height: 100px; /* Tamaño de la pokebola */
    margin-top: 20px; /* Espacio entre el texto y la pokebola */
    animation: temblorPokebola 1s ease-in-out infinite; /* Duración ajustada a 1 segundo para que sea más lenta */
}

@keyframes temblorPokebola {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); } /* Inclinación hacia la derecha */
    50% { transform: rotate(-15deg); } /* Inclinación hacia la izquierda */
    75% { transform: rotate(15deg); } /* Inclinación hacia la derecha */
    100% { transform: rotate(0deg); } /* Volver a la posición original */
}
